<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>crayon_1–1.ttf</string>
		<string>千图厚黑体.ttf</string>
		<string>TAKUMISFONT_L.ttf</string>
		<string>ZiTiQuanXinYiGuanHeiTi4.0-2.ttf</string>
		<string>EEJI-CHAO-BeiMingGBT-Flash.ttf</string>
	</array>
</dict>
</plist>
